<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
    <ion-icon name="notifications-outline" slot="end" class="notification"></ion-icon>
    <ion-avatar slot="end">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-row>
        <ion-col>
          <ion-card color="medium">
            <ion-card-header>
              <ion-card-title>
                <ion-item lines="none" color="medium">
                  <ion-label slot="start"><h1>Incidents</h1></ion-label>
                <ion-icon name="warning-outline" slot="end"></ion-icon>
                </ion-item>
              </ion-card-title>
              
              <ion-card-subtitle>&nbsp;&nbsp;&nbsp;&nbsp;24</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card color="medium">
            <ion-card-header>
              <ion-item lines="none" color="medium">
                  <ion-label slot="start"><h1>Alerts</h1></ion-label>
                  <ion-icon name="notifications-outline" slot="end"></ion-icon>
              </ion-item>
              <ion-card-subtitle>&nbsp;&nbsp;&nbsp;&nbsp;7</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card color="medium">
            <ion-card-header>
              <ion-item lines="none" color="medium">
                  <ion-label slot="start"><h1>Issues</h1></ion-label>
                  <ion-icon name="bug-outline" slot="end"></ion-icon>
              </ion-item>
              <ion-card-subtitle>&nbsp;&nbsp;&nbsp;&nbsp;13</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card color="medium">
            <ion-card-header>
              <ion-item lines="none" color="medium">
                  <ion-label slot="start"><h1>Resolved</h1></ion-label>
                  <ion-icon name="checkmark-done-circle-outline" slot="end"></ion-icon>
              </ion-item>
              <ion-card-subtitle>&nbsp;&nbsp;&nbsp;&nbsp;18</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-item lines="none">
                <ion-label slot="start"><h1>Filters</h1></ion-label>
                <ion-icon name="filter-outline" slot="end"></ion-icon>
              <ion-label slot="end">Clear Filters</ion-label>
              </ion-item>
            </ion-card-header>

            <ion-card-content>
             <ion-row>
              <ion-col>
               <ion-select label="Severities" label-placement="floating" fill="outline" aria-label="all" placeholder="All Severities">
                <ion-select-option value="P1">P1</ion-select-option>
                <ion-select-option value="P2">P2</ion-select-option>
                <ion-select-option value="P3">P3</ion-select-option>
               </ion-select>
             </ion-col>
             <ion-col>
              <ion-select label="All Status" label-placement="floating" fill="outline" aria-label="all" aria-label="fruit" placeholder="All Status">
                <ion-select-option value="Reviewed">Reviewed</ion-select-option>
                <ion-select-option value="notReviewed">Not Reviewed</ion-select-option>
                <ion-select-option value="Acknowledged">Acknowledged</ion-select-option>
              </ion-select>
             </ion-col>
             <ion-col>
               <ion-select label="All categories" label-placement="floating" fill="outline" aria-label="all" aria-label="fruit" placeholder="All categories">
                  <ion-select-option value="Issues">Issues</ion-select-option>
                  <ion-select-option value="Issues">Issues</ion-select-option>
                  <ion-select-option value="Issues">Issues</ion-select-option>
                </ion-select>
             </ion-col>
             <ion-col>
               <ion-select label="Incidents" label-placement="floating" fill="outline" aria-label="all" aria-label="fruit" placeholder="Incidents">
                  <ion-select-option value="High">High</ion-select-option>
                  <ion-select-option value="Medium">Medium</ion-select-option>
                  <ion-select-option value="Low">Low</ion-select-option>
               </ion-select>
             </ion-col>
             </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
          <ion-card-header>
            <ion-card-title>Recent Incidents</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <div class="unread-indicator-wrapper" slot="start">
                  <div class="unread-indicator"></div>
                </div>
                <ion-label>
                  <h3>Database Connection Error</h3>
                  <p>Server: DB-PROD-01</p>
                </ion-label>
                <ion-button slot="end"  size="default"> Acknowledge </ion-button>
                <ion-button slot="end" fill="outline" size="default"> Resolve </ion-button>
              </ion-item>

              <ion-item>
                <div class="unread-indicator-wrapper" slot="start">
                  <div class="unread-indicator"></div>
                </div>
                <ion-label>
                  <h3>Database Connection Error</h3>
                  <p>Server: DB-PROD-02</p>
                </ion-label>
                <ion-button slot="end" size="default"> Acknowledge </ion-button>
                <ion-button slot="end" fill="outline" size="default"> Resolve </ion-button>
              </ion-item>
              <ion-item lines="none">
                <div class="unread-indicator-wrapper" slot="start">
                  <div class="unread-indicator"></div>
                </div>
                <ion-label>
                  <h3>Database Connection Error</h3>
                  <p>Server: DB-PROD-03</p>
                </ion-label>
                <ion-button slot="end" size="default"> Acknowledge </ion-button>
                <ion-button slot="end" fill="outline" size="default"> Resolve </ion-button>
              </ion-item>

            </ion-list>
          </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
          <ion-card-header>
            <ion-card-title>Notifications</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item lines="full">
                <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                <ion-label>
                  Application fail
                </ion-label>
              </ion-item>

              <ion-item lines="full">
                <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                <ion-label>
                  New Update avilable for security module
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
          <ion-card-header>
            <ion-card-title>Registered Issues</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item lines="full">
                <ion-icon name="bug-outline" slot="start"></ion-icon>
                <ion-label>
                  <h3>Application fail</h3>
                  <p>Priority: High</p>
                </ion-label>
                <ion-label slot="end">
                  <small>#123</small>
                </ion-label>
              </ion-item>

              <ion-item lines="full">
                <ion-icon name="bug-outline" slot="start"></ion-icon>
                 <ion-label>
                  <h3>API Response Timeout</h3>
                  <p>Priority: Medium</p>
                </ion-label>
                <ion-label slot="end">
                  <small>#124</small>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      </ion-col>
      <ion-col size="2">
        <ion-row>
          <ion-col>
            <ion-list color="transparent">
              <ion-label>
                <h1>
                  &nbsp;&nbsp;Schedule
                </h1>
              </ion-label>
              <ion-card color="success">
              <ion-card-header>
                <ion-card-title>
                  <ion-item color="success" lines="none">
                    <ion-label><h1>07:00 AM</h1></ion-label>
                  <ion-icon name="alarm-outline" slot="end"></ion-icon>
                  </ion-item>
                </ion-card-title>
                <ion-card-subtitle class="ion-text-center">Product Review</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
              <ion-card color="warning">
              <ion-card-header>
                <ion-card-title>
                  <ion-item color="warning" lines="none">
                    <ion-label><h1>08:00 AM</h1></ion-label>
                  <ion-icon name="alarm-outline" slot="end"></ion-icon>
                  </ion-item>
                </ion-card-title>
                <ion-card-subtitle class="ion-text-center">Product Review</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
            <ion-card color="warning">
              <ion-card-header>
                <ion-card-title>
                  <ion-item color="warning" lines="none">
                    <ion-label><h1>09:00 AM</h1></ion-label>
                  <ion-icon name="alarm-outline" slot="end"></ion-icon>
                  </ion-item>
                </ion-card-title>
                <ion-card-subtitle class="ion-text-center">Product Review</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
            <ion-card color="warning">
              <ion-card-header>
                <ion-card-title>
                  <ion-item color="warning" lines="none">
                    <ion-label><h1>10:00 AM</h1></ion-label>
                  <ion-icon name="alarm-outline" slot="end"></ion-icon>
                  </ion-item>
                </ion-card-title>
                <ion-card-subtitle class="ion-text-center">Product Review</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
            <ion-card color="warning">
              <ion-card-header>
                <ion-card-title>
                  <ion-item color="warning" lines="none">
                    <ion-label><h1>11:00 AM</h1></ion-label>
                  <ion-icon name="alarm-outline" slot="end"></ion-icon>
                  </ion-item>
                </ion-card-title>
                <ion-card-subtitle class="ion-text-center">Product Review</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
            <ion-card color="danger">
              <ion-card-header>
                <ion-card-title>
                  <ion-item color="danger" lines="none">
                    <ion-label><h1>12:00 AM</h1></ion-label>
                  <ion-icon name="alarm-outline" slot="end"></ion-icon>
                  </ion-item>
                </ion-card-title>
                <ion-card-subtitle class="ion-text-center">Product Review</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
